@charset "utf-8";
/* CSS Document for m.tuanche.com  byzss */
body{background:;}

.bggo{width:100%;height:100%;background:#f6ab44 url(../img/bggo.jpg) no-repeat;background-size:100% 100%;position:relative;}
.gohb{width:60%;height:33%;background:url(../img/ico-gohb.png) no-repeat;background-size:100% 100%;position:absolute;top:62.5%;left:20.5%;}
.goRefresh{-webkit-animation:alarm 9.5ms infinite alternate;animation:alarm 9.5ms infinite alternate;}
@-webkit-keyframes alarm {
	from {
	    -webkit-transform-origin:center center;
	    -webkit-transform:rotate(3deg);
	  }
	to {
	    -webkit-transform-origin: center center;
	    -webkit-transform:rotate(-3deg);
	  }
	}
	@keyframes alarm {
	from {
	    transform-origin: center center;
	    transform: rotate(3deg);
	  }
	to {
	    transform-origin: center center;
	    transform: rotate(-3deg);
	  }
}

.banner{width:100%;height:;background:#fc2e4a;}
content{background:#fc2e4a;width:100%;/*height:85%;*/display:block;padding-bottom:15%;}

.rule{text-align:center;font-size:.75rem;}
.rule a,.rule a:link{color:#fff;text-decoration:none;}

.info{width:100%;height:auto;margin-top:20px;}
.bginT{width:100%;height:auto;background:url(../img/bginT.png) no-repeat;background-size:100% 100%;font-size:.75rem;line-height:30px;text-align:center;color:#fff;}

.formC{background:none;width:89%;overflow-x:hidden;padding:30px 0 20px;border:solid 2px #febe28;margin-left:5%;margin-top:-15px;}
.inC{position:relative;width:90%;line-height:20px;height:20px;background:#fff;margin:0 auto 10px;padding:10px 0;border-radius:6px;}
.inC:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}
.inC span{float:left;width:10%;height:100%;display:block;border-right:solid 2px #f2f2f2;margin:0 2% 0 3%}
.inC span.ico-info01{background:url(../img/ico-info01.png) no-repeat 0 0;background-size:contain;}
.inC span.ico-info02{background:url(../img/ico-info02.png) no-repeat 0 0;background-size:contain;}
.inC span.ico-info03{background:url(../img/ico-info03.png) no-repeat 0 0;background-size:contain;}

.inC input{float:left;width:70%;height:100%;border:none;font-size:0.75rem;color:#999;}
.inC em{width:6%;height:40%;cursor:pointer;display:block;position:absolute;top:12px;right:3%;background:url(../img/ico-active.png) no-repeat 0 0;background-size:contain;}
.inC em.wrong{background:url(../img/ico-wrong.png) no-repeat 0 0;background-size:contain;}
.inCsel{}
.inCsel select{float:left;width:80%;height:100%;color:#999;border:none;font-size:0.75rem;padding:0;-webkit-appearance:none;background:none;}

.getCode{}
.getCode:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}
.getCode .inC{width:60%;float:left;margin-left:5%;}
.getCode .inC em{width:10%;}
.getCode button{width:28%;float:left;margin-left:2%;line-height:20px;height:100%;background:#fff;padding:10px 0;border-radius:6px;font-size:0.75rem;color:#febe28;font-weight:bold;}
.inC input.codeC{padding-left:3%;}

.formC dl{width:90%;margin:0 auto;font-size:0.75rem;color:#fff;}
.formC dl dt{float:left;padding:4px 0;}
.formC dl dd{float:left;position:relative;margin-left:10px;}
.formC dl dd p{padding:3px 7px;border:solid 2px #fd909f;}
.formC dl dd.check p{border:solid 2px #febe28;}
.formC dl dd em{display:none;}
.formC dl dd.check em{display:block;position:absolute;bottom:0;right:0;background:#febe28;width:14px;height:14px;text-align:center;}

.sumbitC{width:80%;margin:2% auto 0;}
.sumbitC button{background:#febe28;width:90%;height:40px;font-size:1.125rem;font-weight:bold;color:#fff;margin:10px 5%;border-radius:5px;box-shadow:0px 5px 0px rgba(161,113,0,.75);}
.sumbitC p{text-align:center;color:#f00;}

.promise{text-align:center;color:#fff;font-size:.75rem;}

.go-value{width:90%;margin-top:10px;margin-bottom:10px;margin-left:5%;font-weight:bold;}
.go-value:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}
.go-value p{float:left;color:#fff;}
.go-value a{float:right;}
.go-value a,.go-value a:link{color:#febe28;text-decoration:none;}

.ad{background:#e31230;width:100%;height:12%;overflow:hidden;}
.ad-box{width:100%;height:100%;overflow:hidden;padding:5px 0;}
.ad-box ul{width:100%;height:100%;overflow:hidden;}
.ad-box li{float:left;width:48%;height:100%;margin:0 1%;}
.ad-box li a{display:block;}
.ad-box li img{height:100%;}

.ad-dot{width:100%;height:10px;display:inline-block;text-align:center;margin-bottom:10px;}
.ad-dot li{display:inline-block;width:10px;height:10px;border-radius:10px;background:#e7e7e7;margin-right:3px;}
.ad-dot li.act{background:#ff5838;}

.T{float:left;width:94%;padding:1% 3%;background:#fc2e4a;height:3.4%;}
.T h5{width:45%;float:left;color:#fff;font-weight:bold;}
.T .more{width:30%;float:right;text-align:right;color:#febe28;}
.T .more a,.T .more a:link{color:#febe28;text-decoration:none;}
.T:after{content:" ";display:block;height:0;line-height:0px;clear:both;visibility:hidden;}

.hot{background:#e31230;}
.hotList{width:100%;background:#fc2e4a;margin-top:1px;}
.hotList ul{width:96%;padding:1.5% 2%;}
.hotList ul:after{content:" ";display:block;height:0;line-height:0px;clear:both;visibility:hidden;}
.hotList li{width:46%;float:left;background:#fff;padding:0.8% 1.5%;margin:0 2% 0 0;}
.hotList li.end{margin-right:0;}
.hotList li .imgBox{width:80%;margin:0 auto;}
.hotList p{text-align:center;}
.hotList span{display:block;text-align:center;font-size:.75rem;color:#999;margin-top:2%;}
.hotList span em{color:#febe28;}
.hotList button{width:45%;height:4%;background:#febe28;padding:3px 0;border-radius:3px;font-size:0.75rem;color:#fff;display:block;margin:4% auto;}

.saleCase{background:#e31230;width:99.9%;overflow:hidden;}
.caseList{width:100%;margin-top:1px;font-size:0.75rem;}
.caseList ul{width:96%;padding:0 2%;background:#fc2e4a;}
.caseList ul:after{content:" ";display:block;height:0;line-height:0px;clear:both;visibility:hidden;}
.caseList li{width:96%;float:left;padding:2%;background:#fff;margin-top:1.3%;}
.caseList .imgBox{width:41%;float:left;}
.caseText{width:58%;float:right;color:#171717;}
.caseText h4{display:block;width:100%;min-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:0.875rem;}
.standard{color:#b2b2b2;display:block;}
.standard em{padding:0 8px 0 3px;display:inline-block;}
.carPrice{color:#ff6709;margin-top:5px;float:left;position:relative;width:100%;}
.carPrice:after{content:" ";display:block;height:0;line-height:0px;clear:both;visibility:hidden;}
.carPrice i{color:#fff;position:absolute;right:0;top:0;background:#ff0c2f;padding:1% 2%;}
.carPrice span{float:left;font-weight:bold;}
.prC{background:#f5c81e;display:inline-block;position:relative;float:left;}
.prC samp{color:#fff;display:block;padding:3px 2px;}

.arrow-left{width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:6px solid #f5c81e;overflow:hidden;font-size:0px;line-height:0px;color:#f5c81e;position:absolute;left:-5px;top:5px;}

.prC-left{width:auto;margin-left:5px;}

.gift{width:100%;height:100%;background:#fc2e4a url(../img/bggift.jpg) no-repeat 0 0;background-size:cover;}
.giftC{padding:8.2% 0 0;width:100%;height:auto;}
.giftC:after{content:" ";display:block;height:0;line-height:0px;clear:both;visibility:hidden;}
.circleC{float:left;width:36%;padding:0 7% 7%;}
.circle{background:#fff;width:100%;height:100%;border-radius:1000px;margin:0 auto;}
.circleClick{-webkit-animation:alarm2 9ms infinite alternate;animation:alarm2 9ms infinite alternate;box-shadow:0px 0px 0px rgba(255,255,255,1);}
.circleClick img{-webkit-transform:scale(1.05);-o-transform:scale(1.05);}
.circleC button{background:#febe28;width:;height:;font-size:.75rem;padding:3% 25%;color:#fff;margin:5% auto 0;border-radius:3px;display:block;}
@-webkit-keyframes alarm2 {
	from {
	    -webkit-transform-origin:center center;
	    -webkit-transform:rotate(3deg);
	  }
	to {
	    -webkit-transform-origin: center center;
	    -webkit-transform:rotate(-3deg);
	  }
	}
	@keyframes alarm2 {
	from {
	    transform-origin: center center;
	    transform:rotate(3deg);
	  }
	to {
	    transform-origin: center center;
	    transform:rotate(-3deg);
	  }
}
.gift .ad{height:auto;}
.ass{text-align:center;color:#fff;padding:3% 0;font-size:0.75rem;width:100%;}

.bottomC{width:94%;padding:3%;background:rgba(0,0,0,.75);position:fixed;bottom:0;}
.bottomC a{display:block;width:40%;border-radius:3px;float:left;text-align:center;color:#fff;margin-left:5%;padding:5px;}
.bottomC a.btnB-buy{background:#ff5839;}
.bottomC a.btnB-sale{background:#f5c81e;}
.bottomC a,.bottomC a:link{color:#fff;text-decoration:none;}
 .btclose{position:absolute;top:0;right:0;height:25px;width:25px;text-align:center;z-index:3;background:#b9b9b9;background:none repeat scroll 0 0 #b9b9b9;
-webkit-border-radius: 50px 0 0 0;
-moz-border-radius: 50px 0 0 0;
border-radius: 50px 0 0 0;
transform:rotate(-90deg);
-ms-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
-webkit-transform:rotate(-90deg);
-o-transform:rotate(-90deg);
}
.btclose em{position:absolute;top:5px;right:5px;font-size:1rem;color:#fff;} 

.mask{position:fixed;top:0;left:0;width:100%;height:100%;z-index:19;background:rgba(0,0,0,.8);}
.popC{position:fixed;top:0;left:0;width:100%;height:100%;z-index:20;}
.PClose{border:solid 2px #fde566;color:#fde566;border-radius:500px;font-size:3rem;width:38px;height:38px;line-height:38px;text-align:center;position:absolute;top:15%;right:5%;}
.popC button{background:#febe28;width:24%;height:5%;font-size:.75rem;/*font-weight:bold;*/color:#bf1e2e;margin:0 auto;border-radius:5px;box-shadow:0px 5px 0px rgba(161,113,0,.75);position:absolute;top:82%;left:38%;}
.popC p{position:absolute;top:78%;left:0;width:94%;text-align:center;color:#fff;padding:0 3%;font-size:.75rem;}

.pop01{background:url(../img/popbg01.png) no-repeat center center;background-size:contain;}
.pop02{background:url(../img/popbg02.png) no-repeat center center;background-size:contain;}
.pop03{background:url(../img/popbg03.png) no-repeat center center;background-size:contain;}
.pop04{background:url(../img/popbg04.png) no-repeat center center;background-size:contain;}
.pop03 button{top:67%;width:20%;left:40%;}

.popgiftC{width:100%;height:50%;background:url(../img/popgiftC.png) no-repeat 0 0;background-size:contain;}
.popgift button{background:url(../img/btn-popgift.png) no-repeat 0 0;background-size:contain;box-shadow:0px 5px 0px rgba(161,113,0,0);top:40%;right:10%;left:auto;}

.carType{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,1);z-index:99;}
.character{position:fixed;top:5%;right:2%;width:30px;}
.character a,.character a:link{text-decoration:none;color:#000;display:block;text-align:center;margin-bottom:2px;}
.carTypeT{text-align:center;width:96%;padding:10px 2% 0;}
.closepop{float:left;}
a.closepop,a.closepop:link{text-decoration:none;color:#f60;font-size:0.875rem;}
.class01,.class02,.class03{width:100%;padding:10px 0;background:#fff;}
.class01 dl{width:100%;float:left;}
.class01 dt{width:96%;background:#f5f5fa;padding:8px 2%;}
.class01 dt a,.class01 dt a:link{text-decoration:none;color:#161616;}
.class01 dd{width:96%;padding:10px 2%;background:#fff;float:left;}
.class01 ul{width:90%;padding:5px 0;}
.class01 li{width:50%;float:left;text-align:center;padding:5px 0;}

.class02 dl{}
.class02 dd{width:96%;border-bottom:solid 1px #e5e5e5;font-size:0.75rem;padding:8px 2%}

/*  */
@media screen and (min-width:1024px){
	html,body{max-width:1024px;margin:0 auto;background:#fc2e4a;}
	.bottomC{width:50%;margin:0 auto;padding:1% 25%;left:0;}

	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.5rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.75rem;}
	.arrow-left{top:10px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.875rem;height:52px;}
	.promise{font-size:1.125rem;}
	.inC{height:40px;line-height:40px;}
	.getCode button{height:60px;line-height:44px;}
	
	.formC{margin-top:-28px;padding:40px 0 30px;}
	.formC dl dd.check em{width:18px;height:18px;}
	.bginT{height:50px;line-height:50px;}

	.popC button{top:88%;}
	.popC p{top:84%;}

	.pop03 button{top:72%;width:14%;left:43%;}
}
@media screen and (min-width:980px) and (max-width:1079px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.5rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.75rem;}
	.arrow-left{top:10px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.875rem;height:52px;}
	.promise{font-size:1.125rem;}
	.inC{height:40px;line-height:40px;}
	.getCode button{height:60px;line-height:44px;}
	
	.formC{margin-top:-28px;padding:40px 0 30px;}
	.formC dl dd.check em{width:18px;height:18px;}
	.bginT{height:50px;line-height:50px;}

	.bottomC{max-width:100%;margin:0 auto;padding:3%;}

	.pop03 button{top:70%;}
}
@media only screen and (width:1024px) {
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.5rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.75rem;}
	.arrow-left{top:10px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.875rem;height:52px;}
	.promise{font-size:1.125rem;}
	.inC{height:40px;line-height:40px;}
	.getCode button{height:60px;line-height:44px;}
	
	.formC{margin-top:-28px;padding:40px 0 30px;}
	.formC dl dd.check em{width:18px;height:18px;}
	.bginT{height:50px;line-height:50px;}

	.bottomC{width:50%;margin:0 auto;padding:0% 25%;left:0;}

	.pop03 button{top:73%;}
}
@media screen and (min-width:860px) and (max-width:979px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.25rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.5rem;}
	.arrow-left{top:6px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.625rem;height:48px;}
	.promise{font-size:0.875rem;}
	.inC{height:30px;line-height:30px;}
	.getCode button{height:42px;line-height:22px;}

	.pop03 button{top:70%;}
}

@media screen and (min-width:721px) and (max-width:859px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.25rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.5rem;}
	.arrow-left{top:6px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.625rem;height:48px;}
	.promise{font-size:0.875rem;}
	.inC{height:30px;line-height:30px;}
	.getCode button{height:42px;line-height:22px;}

	.pop03 button{top:66%;}
}

@media only screen and (width:768px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.5rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.75rem;}
	.arrow-left{top:10px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.875rem;height:52px;}
	.promise{font-size:1.125rem;}
	.inC{height:40px;line-height:40px;}
	.getCode button{height:60px;line-height:44px;}
	
	.formC{margin-top:-28px;padding:40px 0 30px;}
	.formC dl dd.check em{width:18px;height:18px;}
	.bginT{height:50px;line-height:50px;}

	.popC button{top:84%;}
	.popC p{top:80%;}

	.bottomC{padding:2% 3%;}

	.pop03 button{top:72%;}
}

@media only screen and (width:720px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.25rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.5rem;}
	.arrow-left{top:6px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.625rem;height:48px;}
	.promise{font-size:0.875rem;}
	.inC{height:30px;line-height:30px;}
	.getCode button{height:42px;line-height:22px;}

	.pop03 button{top:70%;}
}

@media screen and (min-width:660px) and (max-width:719px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.25rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.5rem;}
	.arrow-left{top:6px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.625rem;height:48px;}
	.promise{font-size:0.875rem;}
	.inC{height:30px;line-height:30px;}
	.getCode button{height:42px;line-height:22px;}

	.pop03 button{top:66%;}
}
@media screen and (min-width:580px) and (max-width:659px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.25rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.5rem;}
	.arrow-left{top:6px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.625rem;height:48px;}
	.promise{font-size:0.875rem;}
	.inC{height:30px;line-height:30px;}
	.getCode button{height:42px;line-height:22px;}

	.pop03 button{top:67%;}
}

@media screen and (min-width:481px) and (max-width:579px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.125rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.375rem;}
	.arrow-left{top:6px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.5rem;height:46px;}
	.promise{font-size:0.875rem;}
	.inC{height:30px;line-height:30px;}
	.getCode button{height:40px;line-height:20px;}

	.pop03 button{top:67%;}
}

@media only screen and (width:480px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.hotList button,.popC button{font-size:1.125rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.375rem;}
	.arrow-left{top:6px;}
	.prC-left{margin-left:8px;}
	.sumbitC button{font-size:1.5rem;height:46px;}
	.promise{font-size:0.875rem;}
	.inC{height:30px;line-height:30px;}
	.getCode button{height:40px;line-height:20px;}

	.pop03 button{top:70%;}
}

@media screen and (min-width:320px) and (max-width:479px){
	.caseText h4{font-size:0.875rem;}
	.popC button{top:80%;}
	.popC p{top:75%;}
	.pop03 button{top:67%;}
}

@media screen and (min-width:412px) and (max-width:414px){
	.formC dl dd p,.inCsel select,.inC input,.getCode button,.formC dl,.carPrice i,.rule,.bginT,.hotList span,.T .more,.standard,.carPrice span,.prC-left,.popC button{font-size:.875rem;}
	.T h5,.go-value,.caseText h4,.hotList p,.bottomC a,.circleC button{font-size:1.125rem;}
	.arrow-left{top:6px;}
	.prC-left{margin-left:8px;}
	.hotList button{font-size:0.913rem;}

	.pop03 button{top:65%;}
}
@media only screen and (width:320px){
	.formC dl dd{margin-left:9px;}

	.pop03 button{top:66%;}
}
@media screen and (max-width:320px){
	.formC dl dd{margin-left:9px;}
	.caseText h4{font-size:0.875rem;}
	.popC button{top:80%;}
	.popC p{top:75%;}
	.pop03 button{top:66%;}
}